<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<tr th:each="book: ${books}"></tr>
This book has been borrowed<br />
Title :<span th:text="${book.title}" ></span><br />
Author:<span th:text="${book.author}"></span><br />
Year Of Publication:<span th:text="${book.year_of_publication}"></span><br />
ISBN Number:<span th:text="${book.isbn}"></span><br />
<a th:href="@{/update/{id}(id=${book.id})}">Return</a>
</body>
</html>